[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
kagglehub = "*"
torch = "*"
torchvision = "*"
numpy = "*"
scikit-learn = "*"
sqlitewrapper = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
