[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
numpy = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pymongo = "*"
kagglehub = {extras = ["pandas-datasets"], version = "*"}
xgboost = "*"
matplotlib = "*"
seaborn = "*"
imblearn = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.14"
